*{
	margin: 0px;
	padding: 0px;
}

.button{
	width: 75px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
	cursor: pointer;
	border: none;
}

.textview{
	width: 305px;
	margin: 5px;
	font-size: 25px;
	padding: 5px;
	border: none;
	background-color: transparent;
}

.main{
	width: 327px;
	height: 332px;
	background-color: #efecec;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%)translateY(-50%);
	border: 1px solid gray;
}

.number{
	background-color: white;
	font-weight: bold;
}

.symbol{
	background-color: #fbfbfb;
}

.gray:hover{
	background-color: #e0e0e0;

}

.blue:hover{
	background-color: #03a9f4;
}